---
layout: default
---

<div class="container mt-3">
  <h1>{{ page.title }}</h1>

  <div class="mb-5">
    {{ content }}
  </div>

  {% for photo_group in page.photo_groups %}
    <div class="mb-5">
      <h3>{{ photo_group.group_name }}</h3>
      <div id="galleria-{{ photo_group.group_id }}" class="galleria" style="height: 100vh"></div>
      {{ photo_group.description|markdownify }}
    </div>
  {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/galleria.min.js"></script>
<script>
  (function() {
    Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.6.1/themes/folio/galleria.folio.min.js');

    {% for photo_group in page.photo_groups %}
      Galleria.run('#galleria-{{ photo_group.group_id }}', {
        dataSource: [
          {% for photo in photo_group.photos %}
            {
              thumb: "/thumbs/images/{{ photo.path }}",
              image: "/largeThumbs/images/{{ photo.path }}",
              title: "{{ photo.name }}",
              description: "<a href='/images/{{ photo.path }}' target='_blank'>Download High-Res</a>",
            },
          {% endfor %}
        ]
      });
    {% endfor %}
  }());
</script>
